<div class="main-content">
  <div class="container-fluid">
    <div class="card mt-n5">
      <div class="card-body">

        <mat-tab-group dynamicHeight backgroundColor="primary">
          <mat-tab label="Stations">
            <div class="row">
              <div class="col-md-11 text-right">
                <div class="class-md-6 mt-3">
                  Add Station
                  <button mat-mini-fab color="primary" (click)="showStation()">
                    <mat-icon class="rupee">room</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <form [formGroup]="StationFormGroup" (ngSubmit)="OnSubmitAddStation()">
              <div class="row mt-2 justify-content-center" *ngIf=show_location>
                <div class="col-md-7 ">
                  <mat-form-field appearance="outline">
                    <mat-label>Station</mat-label>
                    <input matInput placeholder="" formControlName="station_name" #station_name>
                    <mat-icon matSuffix>room</mat-icon>
                  </mat-form-field>
                </div>
                <div class="class-md-2 mt-2 ml-6">
                  <button type="button" type="submit" class="btn btn-success">ADD</button>
                </div>
              </div>
            </form>
            <div class="row mt-3">
              <div class="location_table">
                <table  mat-table [dataSource]="locationSource" matSort class="mat-elevation-z8">
                  <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No</th>
                    <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
                  </ng-container>

                  <ng-container matColumnDef="location_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                    <td mat-cell *matCellDef="let element"> {{element.location_name}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsLocation"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsLocation;"></tr>
                </table>
              </div>

              <div class="col-md-3">
                <div class="card card-nav-tabs" style="width: 20rem;">
                  <div class="card-header card-header-info">
                    <mat-icon matSuffix>room</mat-icon>
                    Total Stations
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">32</li>
                  </ul>
                </div>
              </div>
            </div>


          </mat-tab>
          <mat-tab label="Routes">
            <div class="row">
              <div class="col-md-6  mt-3 text-center">
                Add Vehicle
                <button mat-mini-fab color="primary" data-toggle="modal" data-target="#addVehicle">
                  <mat-icon>airport_shuttle</mat-icon>
                </button>
              </div>
          
              <div class="col-md-6 mt-3 text-center">
                Add Route
                <button mat-mini-fab color="primary" (click)="onShowAddRoute()">
                  <mat-icon>navigation</mat-icon>
                </button>
              </div>
            </div>
            <form [formGroup]="RouteFormGroup" (ngSubmit)="OnSubmitRoute()">
            <div class="row" *ngIf="show_route">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-icon matSuffix>time_to_leave</mat-icon>
                    <mat-label>Select Vehicle</mat-label>
                    <mat-select formControlName="vehicle_number" #vehicle_number>
                      <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.value">
                        {{vehicle.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Route Name</mat-label>
                    <input matInput placeholder=""formControlName="route_name" #route_name>
                    <mat-icon matSuffix>directions</mat-icon>
                  </mat-form-field>
                </div>
              </div>
  
              <!-- <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-icon matSuffix>vertical_align_top</mat-icon>
                    <mat-label>Departure Station</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let station of stations" [value]="station.value">
                        {{station.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-icon matSuffix>vertical_align_bottom</mat-icon>
                    <mat-label>Arrival Station</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let arrival_station of arrival_stations" [value]="arrival_station.value">
                        {{arrival_station.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
              <div class="row" *ngIf="show_route">
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Departure Station</mat-label>
                    <mat-select formControlName="departure_station" #departure_station>
                      <mat-option *ngFor="let station of stations" [value]="station.value">
                        {{station.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Departure Time</mat-label>
                    <input matInput placeholder="" formControlName="departure_time" #departure_time>
                    <mat-icon matSuffix>departure_board</mat-icon>
                  </mat-form-field>
                </div>
  
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Arrival Station</mat-label>
                    <mat-select formControlName="arrival_station" #arrival_station>
                      <mat-option *ngFor="let arrival_station of arrival_stations" [value]="arrival_station.value">
                        {{arrival_station.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Arrival Time</mat-label>
                    <input matInput placeholder="" formControlName="arrival_time" #arrival_time>
                    <mat-icon matSuffix>departure_board</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" *ngIf="show_route">
              <div class="col-md-12 text-right mt-3">
                <button type="button" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
         
            <div class="row">
              <div class="col-md-2 text-right mt-1">
                <mat-form-field appearance="outline">
                  <mat-label>Select Status</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let status of statuses" [value]="status.value">
                      {{status.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="table-responsive">
              <table mat-table [dataSource]="routeSource" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </th>
                  <td mat-cell *matCellDef="let element index as i"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
                  <td mat-cell *matCellDef="let element"> {{element.number}} </td>
                </ng-container>

                <ng-container matColumnDef="route">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Route </th>
                  <td mat-cell *matCellDef="let element"> {{element.route}} </td>
                </ng-container>

                <ng-container matColumnDef="vehicle_no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle.No </th>
                  <td mat-cell *matCellDef="let element"> {{element.vehicle_no}} </td>
                </ng-container>

                <ng-container matColumnDef="driver">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver </th>
                  <td mat-cell *matCellDef="let element"> {{element.driver}} </td>
                </ng-container>

                <ng-container matColumnDef="contact">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                  <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>

          </mat-tab>
          <mat-tab label="Add Charge">
            <div class="row">
              <div class="col-md-4 mt-3">
                <mat-form-field appearance="outline">
                  <mat-icon matSuffix>directions</mat-icon>
                  <mat-label>Select Active Routes</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let rute of routes" [value]="rute.value">
                      {{rute.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            
              <div class="col-md-5 mt-4">
               <b> Add Charge</b>
                <button mat-mini-fab color="primary" (click)="onShowCharge()">
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
            </div>
            <div class="row" *ngIf="show_charge">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-icon matSuffix>room</mat-icon>
                  <mat-label>Select Station</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let station of stations" [value]="station.value">
                      {{station.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Charge</mat-label>
                  <input matInput placeholder="" type="number">
                  <mat-icon matSuffix>₹</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Charge</mat-label>
                  <input matInput placeholder="">
                  <mat-icon matSuffix>departure_board</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-success" (click)="onSubmitRouteCharge()">ADD</button>
              </div>
            </div>
            <div class="row">
              <table mat-table [dataSource]="ChargeSource" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </th>
                  <td mat-cell *matCellDef="let element index as i"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="station">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Station </th>
                  <td mat-cell *matCellDef="let element"> {{element.station}} </td>
                </ng-container>

                <ng-container matColumnDef="charge">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Charge </th>
                  <td mat-cell *matCellDef="let element"> {{element.charge}} </td>
                </ng-container>

                <ng-container matColumnDef="order">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Order </th>
                  <td mat-cell *matCellDef="let element"> {{element.order}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                  <td mat-cell *matCellDef="let element"> 
                  <button mat-icon-button color="primary"><mat-icon>edit_location</mat-icon></button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCharge"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCharge;"></tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
        <!-- <div class="row">
          <div class="col-md-2 justify-content-center">
            <mat-form-field>
              <mat-label>Select Status</mat-label>
              <mat-select>
                <mat-option *ngFor="let status of statuses" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-5 text-center">
            Add Route
            <button mat-mini-fab color="primary"  data-toggle="modal" data-target="#addRoute">
            <mat-icon>directions</mat-icon></button>
          </div>

          <div class="col-md-5 text-center">
            Add Vehicle
            <button mat-mini-fab color="primary"  data-toggle="modal" data-target="#addVehicle">
            <mat-icon>airport_shuttle</mat-icon></button>
          </div> -->
      </div>
    </div>
  </div>

  <!-- Add vehicle modal -->
  <div class="modal fade" id="addVehicle" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="addVehicleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary ">
          <h5 class="modal-title text-center" id="addVehicleLabel">Add Route</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="VehicleFormGroup" (ngSubmit)="OnSubmitAddVehicle()">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Vehicle Number</mat-label>
                  <input matInput placeholder="" formControlName="vehicle_number" #vehicle_number>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="vehicle_type" #vehicle_type>
                    <mat-option *ngFor="let vehicle_type of vehicle_types" [value]="vehicle_type.value">
                      {{vehicle_type.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <!-- <label id="example-radio-group-label labe-owner">Owner</label> -->
                <mat-radio-group [(ngModel)]="owner" formControlName="vehicle_owner" #vehicle_owner>
                  <!-- <mat-radio-group (change)="selectOwner($event)"> -->
                  <mat-radio-button value="1">Self</mat-radio-button>
                  <mat-radio-button value="2">Rent</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" *ngIf="owner==2">
                <mat-form-field appearance="outline">
                  <mat-label>Owner Name</mat-label>
                  <input matInput placeholder="" formControlName="owner_name" #owner_name>
                </mat-form-field>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" type="submit">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>