<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Add Item</h4>
          <p class="card-category">Enter Item Details</p>
        </div>
          <form [formGroup]="item_add" (ngSubmit)="onSubmitItem()">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Item" formControlName="items" #items />
                  </mat-form-field>
                </div>
              </div>
    
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Use" formControlName="use" #use>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Specification" formControlName="spec" #spec>
                  </mat-form-field>
                </div>
              </div>
    
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field>
                    <mat-label>Select Type</mat-label>
                    <mat-select formControlName="type"  #type>
                      <mat-option *ngFor="let type of types" [value]="type.value">
                        {{type.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
    
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mesuaring Unit" formControlName="qty">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10  text-right">
                  <button mat-button class="btn btn-primary" type="submit">Save</button>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>