<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header">
          <p class="card-category">Enter Breakage Details</p>
        </div>

        <div class="card-body">
          <mat-tab-group backgroundColor="primary">
            <mat-tab label="Breakage">
              <form [formGroup]="breackage" (ngSubmit)="onSubmitPur()">
                <div class="row mt-3 justify-content-center">
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <mat-label>Choose a date</mat-label>
                      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  formControlName="breackage_date" #breackage_date>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2 type_selector">
                    <mat-form-field>
                      <mat-label>Type</mat-label>
                      <mat-select formControlName="breackage_type" #breackage_type [(ngModel)]="selected_type"> 
                        <mat-option *ngFor="let type of types" [value]="type.value">
                          {{type.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-2">
                    <mat-form-field class="example-full-width" *ngIf="selected_type==0">
                      <input matInput placeholder="Addmission Number" value="" formControlName="admission_no" #admission_no>
                    </mat-form-field>
                    <mat-form-field *ngIf="selected_type==1">
                      <mat-label>Batch</mat-label>
                      <mat-select formControlName="batch" #batch>
                        <mat-option *ngFor="let batch of batches" [value]="batch.value">
                          {{batch.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!-- <div class="col-md-3 type_selector">
                    
                  </div> -->

                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Item" value="" formControlName="item" #item>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-10">
                    <mat-form-field class="example-full-width">
                      <mat-label>Breakage Note</mat-label>
                      <textarea matInput formControlName="breackage_note" #breackage_note ></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-10  text-center">
                    <button mat-button class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>
            </mat-tab>
            <mat-tab label="Clearence">
              <div class="row mt-3 justify-content-center">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Reported By</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let rptb of rptby" [value]="rptb.value">
                        {{rptb.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Replaced or Not</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let replace of replaced" [value]="replace.value">
                        {{replace.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Replace Mode</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let rpmode of rpmodes" [value]="rpmode.value">
                        {{rpmode.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Receive By</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let rcvb of rcvby" [value]="rcvb.value">
                        {{rcvb.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 text-right">
                  <button mat-button class="btn btn-primary">Save</button>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>