table {
    width: 100%;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #1e88e5 ; 
    font-weight: 900;
    color: white;
  }
  
  th.mat-sort-header-sorted {
    color: white;
  }

.station_drop{
  width: 80%;
}