table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-header-cell{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .head_color{
    background-color:#9C27B0 ;
  }