<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Add Syllabus</h4>
          <p class="card-category">Enter Syllabus Details</p>
        </div>

        <div class="card-body ">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <mat-form-field>
                <mat-label>Select batch</mat-label>
                <mat-select>
                  <mat-option *ngFor="let batch of batches" [value]="batch.value">
                    {{batch.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Select term</mat-label>
            <mat-select>
              <mat-option *ngFor="let term of terms" [value]="term.value">
                {{term.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
        </div>

       <!-- <div class="card-body"> -->
         <div class="row justify-content-center">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Course Code" value="">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Course Name" value="">
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Course Mode" value="">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Course Type" value="">
            </mat-form-field>
          </div>
        </div>
       <!-- </div> -->

       <div class="row justify-content-center">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Mark Mode</mat-label>
            <mat-select>
              <mat-option *ngFor="let mode of modes" [value]="mode.value">
                {{mode.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Total Credit Internal" value="">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Total Credit External" value="">
        </mat-form-field>
      </div>
    </div> 
    
    <div class="row justify-content-center">
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Lecture Hour" value="">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Practical Hour" value="">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10  text-right">
        <button mat-button class="btn btn-primary">Save</button>
      </div>
      <!-- <button type="button" class="btn btn-primary">Sumbit</button> -->
    </div>
       </div>
        </div>

      </div>
  </div>
</div>