<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <!-- Stock View Tab start here-->
      <mat-tab-group backgroundColor="primary">
        <mat-tab label="Stock View">
          <mat-form-field>
            <mat-label>Search Here</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Hydrogen">
          </mat-form-field>

          <div class="table-responsive ">
            <table class="view_table" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
                <td mat-cell *matCellDef="let element"> {{element.no}} </td>
              </ng-container>

              <ng-container matColumnDef="batch">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BATCH </th>
                <td mat-cell *matCellDef="let element"> {{element.batch}} </td>
              </ng-container>

              <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ITEM </th>
                <td mat-cell *matCellDef="let element"> {{element.item}} </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>
              <!-- <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
                <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
              </ng-container> -->

              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> QUANTITY </th>
                <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
              </ng-container>

              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> UNIT </th>
                <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
              </ng-container>

              <ng-container matColumnDef="invo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> INVOICE NUMBER </th>
                <td mat-cell *matCellDef="let element"> {{element.invo}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="gid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grant-id </th>
                <td mat-cell *matCellDef="let element"> {{element.gid}} </td>
              </ng-container> -->

              <ng-container matColumnDef="supplier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SUPPLIER </th>
                <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
              </ng-container>

              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="onOpenModal(element)" color="primary" data-toggle="modal"
                    data-target="#editStock">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row class='head_color' *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-tab>
        <!-- Stock View Tab end  here-->

        <!-- Stock add Tab start here-->
        <mat-tab label="Add Stock">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header">
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="card-title">Add Stock</h4>
                    <p class="card-category">Enter Stock Details</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <button mat-button class="btn btn-primary" data-toggle="modal" data-target="#item_modal"
                      type="submit">Add New Item</button>
                  </div>
                </div>
              </div>
              <form [formGroup]="pur_add" (ngSubmit)="onSubmitPur()">
                <div class="card-body">
                  <div class="row d-flex justify-content-flex-end">
                    <div class="col-md-2">
                      <mat-form-field class="example">
                        <input matInput value="" placeholder="Invoice Number" formControlName="invoice_number" #invoice_number>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <mat-label>Select Date</mat-label>
                        <input matInput [matDatepicker]="tpicker" formControlName="date" #date>
                        <mat-datepicker-toggle matSuffix [for]="tpicker"></mat-datepicker-toggle>
                        <mat-datepicker #tpicker></mat-datepicker>
                      </mat-form-field>
                    </div>


                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-label>Supplier</mat-label>
                        <mat-select formControlName="supplier_id" #supplier_id>
                          <mat-option *ngFor="let supplier of supplier_name" [value]="supplier.id">
                            {{supplier.supplier_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                  <div class="row">
                    <div class="table-responsive">
                      <table class="table table1" >
                        <thead>
                          <tr>
                            <th scope="col">SlNo</th>
                            <th scope="col">Item</th>
                            <th scope="col">Batch Name</th>
                            <th scope="col">Price</th>
                            <!-- <th scope="col">Currency</th> -->
                            <th scope="col">Quantity</th>
                            <!-- <th scope="col">Unit</th> -->
                            <!-- <th scope="col">_ddddd Number</th> -->
                            <!-- <th scope="col">Grant-id</th> -->
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody formArrayName="stock">
                          <tr *ngFor="let one of s.controls; index as i; last as last;" [formGroupName]="i">
                            <td>{{i+1}}</td>
                            <td scope="row">
                              <mat-form-field>
                                <mat-label>Select item</mat-label>
                                <mat-select formControlName="item" #item [(ngModel)]="selected_item[i]">
                                  <mat-option *ngFor="let item of stock_items" [value]="item">
                                    {{item.equipment_name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <!-- <mat-form-field class="example">
                                    <input matInput value="" formControlName="item" #item>
                                  </mat-form-field> -->
                            </td>
                            <td>
                              <mat-form-field class="example">
                                <input matInput value="{{getBatch(i)}}" placeholder="Batch Number" formControlName="batch_id" #batch_id >
                              </mat-form-field>
                            </td>
                            <td>
                              <mat-form-field class="example">
                                <input matInput value="" formControlName="price" #price>
                              </mat-form-field>
                            </td>
                            <!-- <td>
                                  <mat-form-field>
                                    <mat-label>Select Currency</mat-label>
                                    <mat-select [value]="INR" formControlName="currency" #currency>
                                      <mat-option *ngFor="let cur of curs" [value]="cur.value">
                                        {{cur.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </td> -->
                            <td>
                              <mat-form-field class="example">
                                <input matInput formControlName="qty" #qty>
                              </mat-form-field>
                            </td>
                            <!-- <td>
                              <mat-form-field>
                                <mat-label>Select Unit</mat-label>
                                <mat-select formControlName="unit" #unit>
                                  <mat-option *ngFor="let unit of units" [value]="unit.value">
                                    {{unit.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td> -->
                            <!-- <td>
                                  <mat-form-field class="example">
                                    <input matInput formControlName="invoice" #invoice value="">
                                  </mat-form-field>
                                </td> -->
                            <!-- <td>
                                  <mat-form-field class="example">
                                    <input matInput value="" formControlName="grant_id" #grant_id>
                                  </mat-form-field>
                                </td> -->
                            <td>
                              <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon"
                                (click)="onAddStock()" *ngIf="last">
                                <mat-icon>add</mat-icon>
                              </button>

                              <button mat-icon-button color="accent" *ngIf="i!=0" (click)="onRemoveRow(i)">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 pull-right">
                      Total {{getTotal()}}
                    </div>
                  </div>
                  <!-- <table mat-table [dataSource]="stk_pur" class="mat-elevation-z8">
                      <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> 
                          <mat-form-field class="example">
                            <input matInput formControlName="no">
                          </mat-form-field>
                         </td>
                      </ng-container>
                
                      <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Item </th>
                        <td mat-cell *matCellDef="let element">  </td>
                      </ng-container>
                    
                      
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element">  </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="qtypur">
                        <th mat-header-cell *matHeaderCellDef> Quantity Purchased </th>
                        <td mat-cell *matCellDef="let element">  </td>
                      </ng-container>
          
                      <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef> Unit </th>
                        <td mat-cell *matCellDef="let element">  </td>
                      </ng-container>
                      <ng-container matColumnDef="invo">
                        <th mat-header-cell *matHeaderCellDef> Invoice </th>
                        <td mat-cell *matCellDef="let element">  </td>
                      </ng-container>
                      <ng-container matColumnDef="gid">
                        <th mat-header-cell *matHeaderCellDef> Grant-id </th>
                        <td mat-cell *matCellDef="let element">  </td>
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table> -->
                  <!-- <div class="row">
                        <div class="col-md-12 text-right">               
                        </div>
                      </div> -->
                  <div class="row">
                    <div class="col-md-12  text-center">
                      <button mat-button class="btn btn-primary" type="submit">Save</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- </div> -->
        </mat-tab>
        <!-- Stock Add Tab End  here-->
      </mat-tab-group>

      <!-- modal for quick item add -->
      <div class="modal fade " id="item_modal" tabindex="-1" role="dialog" aria-labelledby="item_modalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title" id="item_modalTitle">Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <mat-tab-group backgroundColor="primary">
                <mat-tab label="Add Item">
                  <form [formGroup]="item_add" (ngSubmit)="onSubmitItem()">
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="item_name" formControlName="item_name" #use>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Item use" formControlName="use" #use>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Specification" formControlName="spec" #spec>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <mat-form-field>
                          <mat-label>Select Type</mat-label>
                          <mat-select formControlName="group_id" #group_id>
                            <mat-option *ngFor="let type of types" [value]="type.id"> 
                              {{type.equipment_group}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <mat-form-field>
                          <mat-label>Brand</mat-label>
                          <mat-select formControlName="brand" #brand>
                            <mat-option *ngFor="let brand of brands" [value]="brand.id">
                              {{brand.brand_name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-md-10">
                        <mat-form-field>
                          <mat-label>Measuring Unit</mat-label>
                          <mat-select formControlName="unit" #unit>
                            <mat-option *ngFor="let unit of units" [value]="unit.id">
                              {{unit.unit_name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- <div class="row justify-content-center">
              <div class="col-md-10">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Quantity Name" formControlName="qty_name">
                </mat-form-field>
              </div>
            </div> -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" type="submit">ADD</button>
                    </div>
                  </form>
                </mat-tab>

                <mat-tab label="Items View">
                  <table mat-table [dataSource]="itemSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="sl_no">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No</th>
                      <td mat-cell *matCellDef="let element index as  i"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="equipment_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ITEM </th>
                      <td mat-cell *matCellDef="let element"> {{element.equipment_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> USE </th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="specification">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> SPECIFICATION </th>
                      <td mat-cell *matCellDef="let element"> {{element.specification}} </td>
                    </ng-container>

                    <ng-container matColumnDef="equipment_group">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> TYPE </th>
                      <td mat-cell *matCellDef="let element"> {{element.equipment_group}} </td>
                    </ng-container>

                    <ng-container matColumnDef="brand">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> BRAND </th>
                      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                    </ng-container>

                    <ng-container matColumnDef="unit_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> UNIT </th>
                      <td mat-cell *matCellDef="let element"> {{element.unit_name}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                  </table>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit stock modal -->
    <!-- Modal -->
    <div class="modal fade" id="editStock" tabindex="-1" role="dialog" aria-labelledby="editStock" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editStock">Edit Stock</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="stock_edit" (ngSubmit)="oneditStock()">

              <div class="row justify-content-center">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Batch" formControlName="edit_batch" #edit_batch>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Select item</mat-label>
                    <mat-select formControlName="item" #item [(ngModel)]="selected_item[i]">
                      <mat-option *ngFor="let item of stock_items" [value]="item">
                        {{item.equipment_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Price" formControlName="edit_price" #edit_price>
                  </mat-form-field>
                </div>

                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Quantity" formControlName="edit_qty" #edit_qty>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-2">
                  <mat-form-field>
                    <mat-label>Unit</mat-label>
                    <mat-select formControlName="unit" #unit>
                      <mat-option *ngFor="let unit of units" [value]="unit.id">
                        {{unit.unit_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Invoice Number" formControlName="edit_invoice" #edit_invoice>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Supplier</mat-label>
                    <mat-select formControlName="supplier_id" #supplier_id>
                      <mat-option *ngFor="let supplier of supplier_name" [value]="supplier.id">
                        {{supplier.supplier_name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>