table {
    width: 100%;
    
  }
  .mat-header-cell{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  .head_color{
    background-color:#a1c4fd ;
  }

  .issuebtn{
    margin-top: 25px;
  }
  .allocate{
    margin-bottom: 10px;
  }