<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header">
          <h4 class="card-title">Issue Apparatus</h4>
          <p class="card-category">Enter Issue Details</p>
        </div>
        <form [formGroup]="issue_app" (ngSubmit)="onSubmit_isuue()">
          <div class="card-body">
            <div class="row justify-content-center">
  
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Select Batch</mat-label>
                  <mat-select formControlName="batch"  #type>
                    <mat-option  *ngFor="let batch of batches" [value]="batch.value">
                      {{batch.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              
  
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Item" formControlName="item">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Item Numbers" formControlName="item_no">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button mat-button class="btn btn-primary allocate">Allocate</button>
              </div>
             </div>

             <div class="row">
               <div class="col-md-12">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">>
                
                  <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="add_no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Addmission No </th>
                    <td mat-cell *matCellDef="let element"> {{element.add_no}} </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
                    <td mat-cell *matCellDef="let element"> {{element.item}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="item_no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item_No </th>
                    <td mat-cell *matCellDef="let element"> {{element.item_no}} </td>
                  </ng-container>
                
                  <tr mat-header-row class="head_color" *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row class="row_color" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
               </div>
             </div>
              <div class="col-md-12 text-right">
                <button mat-button class="btn btn-primary issuebtn">ISSUE</button>
              </div>
          </div>
        </form>
      </div>   
    </div>
  </div>
</div>